body{
    background-color: #DCDADA;
}
.bg-light {
    background-color: #403F39!important;
}
.navbar-light .navbar-brand {
    color: green;
}
.navbar-light .navbar-nav .nav-link {
    color:#E4E1CE ;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: white;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #636262;
}
.navbar-light .navbar-brand:hover {
    color: #636262;;
}
.carousel-inner{
    height: 450px;
}
.fa-shopping-cart{
    color: white;

}
.card-body{
    background-color: #DCDADA;
}
.card-header:first-child {
    background-color: #403F39;
    color: white;
}
.fa-times{
    color: red;
}
.fa-plus-circle,.fa-minus-circle{
    color: green;
}
